<h1 class= "text-center">Editing task</h1>

<%= render 'form' %>

<%= link_to "<i class='fa fa-eye'></i>Show".html_safe, @task %> |
<%= link_to "<i class='fa fa-chevron-circle-left'></i> Back".html_safe, tasks_path %>
